
<% @albums.each do |album| %>
    <% if album.id %>

    <li><strong><%= link_to album.title, artist_album_path(album.artist.id, album) %></strong></li>
        <% if album.user_id == current_user.id %>    
            <li><%= link_to album.artist.name, album.artist%></li>
            <li><%= album.genre%></li>
            <li><%= album.year%></li>
    <hr>
        <% end %>
    <% end %>
<% end %>

